@import "../node_modules/flexboxgrid/dist/flexboxgrid.min.css";
@import "../assets/font-awesome/css/font-awesome.css";
/* custom styles */
.content {
  min-height: 400px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.big{
  font-size: 2em;
}
